<!DOCTTYPE Html>
<html>
    <head>
        <title>TVM TASK</title>
    </head>
    <body>
        <h2> Register form</h2>
        <hr width="350" align="left">
        <table width="400">
            <tr>
                <td height="30"> Name of student </td>
                <td> <input type="text"></td>
            </tr>
            <tr>
                <td height="30"> Name of father </td>
                <td> <input type="text"></td>
            </tr>
            <tr>
                <td height="30"> age </td>
                <td> <input type="number"  min="1" max="65"></td>
            </tr>
            <tr>
                <td>Date of birth </td>
                <td> <input type="date"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td> 
                    <input type="radio" name="gender" value="male">
                    <input type="radio" name="gender" value="female">
                </td>
            </tr>
            <tr>
                <td> city</td>
                <td>
                    <select>
                        <option selected>chennai</option>
                        <option>pune</option>
                        <option>calcuta</option>
                        <option>mumbai</option>
                        <option>coimbatore</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> languages known</td>
                <td> <input type="checkbox" name="l1"></td>
                <label> english</label>
                <input type="checkbox" name="l2">
                <label> tamil</label>
                <input type="checkbox" name="l3">
                <label> hindhi</label>
             </tr>
             <tr>
                 <td height="50" align="center">
                     <input type="button" value="submit">
                 </td>
             </tr>
             </table>
             <hr width="350" align="left">
    </body>
</html>
