

<h1>PERFORMANCE REVIEW SCREEN</h1>
<select matNativeControl [disabled]="disableSelect.value">
    <option value="home" selected>HOME</option>
    <option value="my info">INFO</option>
    <option value="my profile">PROFILE</option>
    <option value="about">ABOUT</option>
  </select>
  <hr>
<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Monthly performance REVIEW</mat-card-title>
      <mat-card-subtitle>data is to be displayed</mat-card-subtitle>
    </mat-card-title-group>
     <mat-card-content>
    </mat-card-content>
  </mat-card>
 
  
<div>
  <mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile>Review performance</mat-grid-tile>
    <mat-grid-tile>take survey</mat-grid-tile>
    <br>
    <br>
  </mat-grid-list></div>
    <hr>
    <h2>my info</h2>
    <div>
    <mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile>my profile</mat-grid-tile>
    <mat-grid-tile>my pending requests</mat-grid-tile>
    <mat-grid-tile>myLTI</mat-grid-tile>
    <mat-grid-tile>Quick Links</mat-grid-tile>
    <mat-grid-tile>Goals</mat-grid-tile>
    <mat-grid-tile>careers</mat-grid-tile>
    <mat-grid-tile>Recrutiting</mat-grid-tile>
    <mat-grid-tile>Career Development Plan</mat-grid-tile>
    <mat-grid-tile>Performance</mat-grid-tile>
    <mat-grid-tile>Achievements</mat-grid-tile>
    <mat-grid-tile>Activitives</mat-grid-tile>
    <mat-grid-tile>Give Feedback</mat-grid-tile>
    <mat-grid-tile>Mobile Application</mat-grid-tile>
    <mat-grid-tile>Org Chart</mat-grid-tile>
    <mat-grid-tile>Leave Requests No Leave Planned</mat-grid-tile>
    <mat-grid-tile>Trainee confirmation system</mat-grid-tile>
  </mat-grid-list>
</div>